---
import type { Playlist } from "../lib/data";
import { CardPlayButton } from "./CardPlayButton.jsx";

interface Props {
    playlist?: Playlist;
}

const { playlist } = Astro.props;
const { id, title, artists, cover } = playlist || {
    id: "",
    title: "",
    artists: [],
    cover: "",
};

const artistsString = artists.join(", ");
---

<article class="w-52 group transition-all relative">
    <div
        class="rounded-full self-center absolute bg-black/50 h-10 w-10 flex items-center place-content-center opacity-0 group-hover:opacity-100 z-50 bottom-16 right-4"
        transition:name=`playlist ${id} playicon`
    >
        <CardPlayButton id={id} client:visible />
    </div>
    <a
        href={`/playlist/${id}`}
        class="justify-between overflow-hidden bg-[#030303]rounded-md block mb-3"
        transition:name=`playlist ${id} box`
    >
        <picture class="group-hover:opacity-50 aspect-w-1 aspect-h-1">
            <img
                class="rounded-md object-cover w-full h-full"
                src={cover}
                alt={`Portada de ${title} por ${artistsString}`}
                transition:name=`playlist ${id} image`
            />
        </picture>
    </a>
    <div class="flex-col truncate">
        <a href={`/playlist/${id}`} class="hover:underline">
            <h4
                class="font-semibold text-md"
                transition:name=`playlist ${id} title`
            >
                {title}
            </h4>
        </a>
        <p class="text-sm text-zinc-200">{artistsString}</p>
    </div>
</article>
